<header class="custom-header">
<h1 class="header-logo">Decora 3D</h1>
<div class="categories">
  <a href="">Todo</a>
  <a href="">Muebles</a>
  <a href="">Almohadas Decorativas</a>
  <a href="">Iluminación</a>
</div>
<div>
  <label for="">Rodrigo Ramirez</label>

  <div class="options">
    <img src="assets/icons/user.svg" alt="">
    <div class="options-content animate__animated animate__fadeIn">
      <a href="">Iniciar sesión</a>
      <a href="">Subir producto 3D</a>
      <a href="">Cerrar sesión</a>
    </div>
  </div>
</div>  
</header>
