<div class="custom-upload">
  <div class="upload-content">
    <div class="custom-forms">
      <h1>Decora3D</h1>
      <div class="custom-form">
        <label>Nombre del producto</label>
        <input type="text">
      </div>
      <div class="custom-form">
        <label>Categoria</label>
        <select name="" id="">
          <option value="">Todo</option>
          <option value="">Muebles</option>
          <option value="">Almohadas decorativas</option>
          <option value="">Iluminación</option>
        </select>
      </div>
      <div class="custom-form">
        <label>Precio</label>
        <input type="number">
      </div>
      <div class="custom-form">
        <label>Cantidad</label>
        <input type="number">
      </div>
      <div class="custom-form">
        <label>Descripción</label>
        <input type="text">
      </div>
      <div class="custom-form" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="file" (click)="loadFile()">
          <a>Seleccionar modelo 3D</a>
        </div>
      </div>
      <button class="custom-btn" (click)="capturaPantalla()">Subir</button>
    </div>
    <div class="viewer" id="viewer">
      <!-- <img src="assets/images/todo.webp" style="width: 100%; height: 100%; object-fit: cover;"> -->
    </div>
  </div>
</div>
