<div class="product-detail">
  <div class="detail-content">
    <div id="viewer" class="viewer">
      <!-- <img [src]="product?.urlThumbnail" style="width: 100%; height: 100%;"> -->
    </div>
    <div class="information">
        <p><b>{{product?.name}}</b></p>
        <p><b>Gs. {{product?.price}}</b></p>
        <p><b>Categoría</b> {{getCategoryNameById(product?.category || '')}}</p>
        <p><b>Descripción</b></p>
        <section>
          {{product?.description}}
        </section>
        <div class="stock">
          <label>{{product?.quantity}} en stock</label>
          <div class="stock-option">
            <input type="number">
            <button class="add-to-cart">Agregar al carrito</button>
          </div>
        </div>
        <div class="payment">
          <label>Métodos de pago</label>
          <div class="payment-method">
            <img src="assets/icons/payment-method.webp">
          </div>
        </div>
    </div>
  </div>
</div>
