<div class="product-list">
  <div>
    <label class="category-name">TODO</label>
  </div>
  <div class="products">
    <div class="custom-card">
      <img src="assets/images/todo.webp" alt="">
      <div class="info">
        <a href="">Nombre del producto</a>
        <a href="">Precio</a>
      </div>
    </div>
    <div class="custom-card">
      <img src="assets/images/muebles.webp" alt="">
      <div class="info">
        <a href="">Nombre del producto</a>
        <a href="">Precio</a>
      </div>
    </div>
    <div class="custom-card">
      <img src="assets/images/almohadas_decorativas.webp" alt="">
      <div class="info">
        <a href="">Nombre del producto</a>
        <a href="">Precio</a>
      </div>
    </div>
    <div class="custom-card">
      <img src="assets/images/iluminacion.webp" alt="">
      <div class="info">
        <a href="">Nombre del producto</a>
        <a href="">Precio</a>
      </div>
    </div>
  </div>
</div>
