<div class="product-list">
  <div>
    <label class="category-name">TODO</label>
  </div>
  <div class="products" *ngIf="filteredProducts">
    <div class="custom-card" *ngFor="let product of filteredProducts" [routerLink]="['../../', 'product', product.id]">
      <img [src]="product.urlThumbnail">
      <div class="info">
        <a >{{product.name}}</a>
        <a href="">{{product.price}}</a>
      </div>
    </div>
  </div>
  <div class="products" *ngIf="filteredProducts.length==0">
    <span>No hay productos en esta categoría.</span>
  </div>
</div>
