<div class="custom-auth">
  <div class="custom-forms">
    <h3><b>Crear cuenta</b></h3>
    <div class="custom-form">
      <label for="">Nombre completo</label>
      <input type="text">
    </div>
    <div class="custom-form">
      <label for="">Correo electrónico</label>
      <input type="email">
    </div>
    <div class="custom-form">
      <label for="">Contraseña</label>
      <input type="password">
    </div>
    <button class="custom-btn">Registrarse</button>
    <label>Ya tengo una cuenta <span class="register-btn">Iniciar sesión</span></label>
  </div>
</div>
