<div class="custom-auth">
  <div class="custom-forms">
    <h3><b>Crear cuenta</b></h3>
    <div class="error-info" role="alert" *ngIf="showAlert">
      {{errorMessage}}
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="registrarse()">
      <div class="custom-form">
        <label for="">Nombre completo</label>
        <input type="text" formControlName="fullName">
      </div>
      <div class="custom-form">
        <label for="">Correo electrónico</label>
        <input type="email" formControlName="email">
      </div>
      <div class="custom-form">
        <label for="">Contraseña</label>
        <input type="password" formControlName="password">
      </div>
      <button class="custom-btn" type="submit">Registrarse</button>
    </form>
    <label>Ya tengo una cuenta, <a [routerLink]="['/signin']" class="register-btn">Iniciar sesión</a></label>
  </div>
</div>
