<footer class="footer-content">
    <div class="footer-options">
        <a class="footer-logo">Decora 3D</a>
        <div class="social">
            <img src="assets/icons/facebook.svg" alt="">
            <img src="assets/icons/instagram.svg" alt="">
            <img src="assets/icons/twitter.svg" alt="">
            <img src="assets/icons/youtube.svg" alt="">
        </div>
    </div>
    <div class="footer-options">
        <a href="">Categorias</a>
        <a href="">Todo</a>
        <a href="">Muebles</a>
        <a href="">Almohadas Decorativas</a>
        <a href="">Iluminación</a>
    </div>
    <div class="footer-options">
        <a href="">Recursos</a>
        <a href="">Contactos</a>
        <a href="">Ayuda</a>
    </div>
</footer>