<div class="d-flex justify-content-center  gap-2 flex-wrap border-bottom pb-4 m-4">
  <div class="input-group w-50">
    <input type="file" class="form-control" name="file" accept="images/*">
    <button class="btn btn-primary">Guardar</button>
  </div>
</div>

<div class="d-flex gap-2 flex-wrap justify-content-center">

  <div class="card" style="width: 16rem;">
    <div class="card-body">
      <img src="https://lh3.googleusercontent.com/proxy/oRbW1MmxaXD1vC1duTUa-cihkfTfDZgZGgFv6e7L-3Z8DJiZHvcZIBvWaxwcrS9npZDtCgCA8XoMQlghulOgz6hKMiaDbBbiyeF9VKurKgQSaEoYfsgsiPfSUZp7BDSvlXJ8LlJU" alt="" style="height: 220px; object-fit: cover;">
      <h5 class="card-title pt-1">Nombre del archivo</h5>
      <p class="card-text">Texto</p>
      <a class="btn btn-outline-primary m-1 w-100">Eliminar</a>
    </div>
  </div>
</div>
