<div class="main-content-content">
  <div class="category-info">
    <label>ELEVE SU ESPACIO VITAL</label>
    <label>Cree la casa de sus sueños</label>
    <button class="add-to-cart">Comprar</button>
  </div>
  <div class="categories">
    <div class="category-content">
      <img src="assets/images/todo.webp" alt="">
      <div class="info">
        <a href="">Todo</a>
      </div>
    </div>
    <div class="category-content">
      <img src="assets/images/muebles.webp" alt="">
      <div class="info">
        <a href="">Muebles</a>
      </div>
    </div>
    <div class="category-content">
      <img src="assets/images/almohadas_decorativas.webp" alt="">
      <div class="info">
        <a href="">Almohadas decorativas</a>
      </div>
    </div>
    <div class="category-content">
      <img src="assets/images/iluminacion.webp" alt="">
      <div class="info">
        <a href="">Iluminación</a>
      </div>
    </div>
  </div>
</div>
